/* 달력 전체 스타일 */
.react-calendar {
  font-family: 'Pretendard-Regular';
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  line-height: 1.125em;
  border-radius: 0.4rem;
}
.react-calendar__navigation__label > span {
  color: var(--festie-gray-800, #3a3a3a);
  font-size: 17px;
  
  
  font-weight: 500;
  line-height: 140%;
}
.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  font-size: 20px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #fffbee;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #fffbee;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}
s
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}

/* 주말 글씨 */
.react-calendar__month-view__days__day--weekend {
  color: #fd900ad8;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  height: 50px;
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #fffbee;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #f6e7d3;
  border-radius: 50%;
}

/* 오늘 날짜 */
.react-calendar__tile--now {
  width: 30px;
  height: 50px;
  background: #d5d4cd6f;
  color: rgba(86, 83, 81, 0.784);
  border-radius: 50%;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  width: 30px;
  height: 50px;
  background: #5a554b;
  color: white;
  border-radius: 50%;
}

.react-calendar__tile--hasActive {
  background: #ffd88a;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f9e5b6;
  border-radius: 50%;
}

.react-calendar__tile--active {
  border-radius: 50%;
  border: 3px solid ;
  border-color: #febf00;
  background-color: white;
  color: rgb(83, 80, 75);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  border-radius: 50%;
  background-color: #fffbf3;
  color: rgb(83, 80, 75);
  border: 3px solid ;
  border-color: #e3a427c5;
  /* background-color: rgb(255, 236, 201); */
  
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
  border-radius: 50%;
}

